* {
    margin: 0;
    padding: 0;
    /*box-sizing:border-box;*/
}
:root{
    --text-color: white;
    --bg-url: url(./assets/bg-mobile.jpg);
    --stroke-color: rgba(255, 255, 255, 0.5);
    --surface-color: rgba(255, 255, 255, 0.01);
    --surface-color-hover:rgba(0, 0, 0, 0.02);
    --highlight-color: rgba(255, 255, 255, 0.2);
    --bg-button:url(./assets/MoonStars.svg);
    --surface-color-dark-mode:rgba(255, 255, 255, 0.1);
    --stroke-color-dark-mode: rgba(255, 255, 255, 0.5);
}
.light{
    --text-color: black;
    --bg-url: url(./assets/bg-mobile-light.jpg);
    --stroke-color: rgba(0, 0, 0, 0.5);
    --surface-color: rgba(0, 0, 0, 0.05);
    --surface-color-hover:rgba(255, 255, 255, 1);
    --highlight-color: rgba(0, 0, 0, 0.1);
    --bg-button:url(./assets/Sun.svg);
}
body {
    background: var(--bg-url) no-repeat top center/cover ; 
}
body * {
    color: var(--text-color);
    font-family: "Inter", sans-serif;
}
#container {
    max-width: 588px ;
    margin: 56px auto 0px ;
    padding: 0 24px;
}
#profile {
    text-align: center;
    padding: 24px;
    
}
#profile img {
    width: 112px;
}
#profile p {
    font-weight: 500;
    line-height: 24px;
    margin-top: 8px;
}
#switch{
    width: 64px;
    position: relative;
    margin: 4px auto;
}
#switch button{
    position: absolute;
    width: 32px;
    height: 32px;
    background: white var(--bg-button) no-repeat center;
    border-radius: 50%;
    border: 0;
    transform: translateY(-50%);
    top: 50%;
    left: 0;
    z-index: 1;
    animation: toggle-back 0.2s;
}
#switch button:hover{
    outline: 8px solid var(--highlight-color);
}
.light #switch button{
  /*  right: 0;
    left: initial;
   */
   animation: toggle-slide 0.2s forwards ;
}
#switch span{
    display: block;
    height: 24px;
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    border-radius: 9999px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}
ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 24px 0;
}
ul li  {
    list-style: none;
}
ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: center;
    padding: 16px 24px;
    background: var(--surface-color);
    border-radius: 8px;
    border: 1px solid var(--stroke-color);
    font-weight: 500;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    transition: background .2s;
}
ul li a:hover{
    background: var(--surface-color-hover);
    border: 1.5px solid  var(--text-color);
}
#social-links{
    display: flex;
    justify-content: center;
   
    padding: 24px 0;
    font-size: 24px;
}
#social-links a{
    display: flex;
    padding: 16px ;
    border-radius: 50%;
    transition: background .2s;
}
#social-links a:hover{
    background:  var(--highlight-color);
}
footer{
    padding: 24px 0;
    text-align: center;
}
@media (min-width: 700px){
    :root{
        --bg-url: url(./assets/bg-desktop.jpg)
    }
    .light{
        --bg-url: url(./assets/bg-desktop-light.jpg)
    }
}
@keyframes toggle-slide {
    from{
        left: 0;
    }
    to{
        left: 50%;
    }
}
@keyframes toggle-back {
    from{
        left: 50%;
    }
    to{
        left:0;
    }
}